{% extends "base.html" %}
{% block title %}
    {{medios.nombre}}
{% endblock title %}

{% load thumbnail %}

{% block contenido %}
<div class="row">
  <div class="large-12 column">

        {% if medios.get_fotos %}
            <div class="gallery row">
                <div class="showcase large-2 columns">
                  <ul data-orbit data-options="bullets:false; navigation_arrows:false;slide_number:false;">
                    {% for obj in medios.get_fotos %}
                        {% thumbnail obj.foto "150x150" crop="10%" as img%}
                        <li>
                          <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                          <div class="orbit-caption">{{obj.nombre}}</div>
                      </li>
                        {% endthumbnail %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %} <br>

    Nombre de medio:
    {{medios.nombre}} <br>
    Año:
    {{medios.fecha}} <br>
    Tipo de medio:
    {% for obj in medios.tipo_medio.all%}
            {{obj}},
        {%endfor%}<br>
    Temas:
    {% for obj in medios.temas.all%}
            {{obj}},
        {%endfor%} <br>
    fecha de inicio:
    {{medios.fecha_inicio}} <br>
    fecha de finalización:
    {{medios.fecha_finalizacion}} <br>
    Objetivos:
    {{medios.objetivos}} <br>

    {% if  medios.participantes_set.all %}
        ACTORES BENEFICIADOS
    <table>
          <thead>
            <tr>
              <th>Grupo meta</th>
              <th>Número hombres</th>
              <th>Número mujeres</th>
            </tr>
          </thead>
          <tbody>
           {% for lista in medios.participantes_set.all %}    
            <tr>
              <td>{{lista.opcion}}</td>
              <td>{{lista.hombres}}</td>
              <td>{{lista.mujeres}}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
            {% else %}
                <p>Aun no existen ingresados participantes</p>
            {% endif %}
      {% if  medios.nivelconocimiento_set.all%}
          <table>
          <thead>
            <tr>
              <th>Grupo meta</th>
              <th>Antes del evento(escala del 1-5)</th>
              <th>Despues del evento(escala del 1-5)</th>
            </tr>
          </thead>
          <tbody>
           {% for lista in medios.nivelconocimiento_set.all %}    
            <tr>
              <td>{{lista.opcion}}</td>
              <td>{{lista.get_ante_evento_display}}</td>
              <td>{{lista.get_despues_evento_display}}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      {% else %}
          <p>Aun no hay ingresado niveles de conocimiento</p>
      {% endif %}

  </div>
</div>
{%endblock%}