{% extends "base.html" %}

{% block title %}
    Medios para fortalecimiento de conocimiento de actores
{% endblock title %}

{% block extra_js %}
{% endblock extra_js %}

{% block contenido %}

<div class="row">
    <h1>Fortalecimiento de conocimiento de actores</h1>
    <div class="large-12 columns">
        
        <form class="form-inline" action="." method="POST">
            {%csrf_token%}
            <div class="selects">
                {{form.tipo_medio}}
                {{form.tipo_medio.errors}}
                {{form.temas}}
                {{form.temas.errors}}
                {{form.grupos_metas}}
                {{form.grupos_metas.errors}}
                {{form.fecha}}
                {{form.fecha.errors}}
            </div>  
            <button type="submit" class="boton">Consultar</button>
        </form>

    {% if  lista_forta %}
        <table>
          <thead>
            <tr>
              <th>Año</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Tema</th>
              <th>Fecha inicio</th>
              <th>Fecha finalización</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in lista_forta %}    
            <tr>
              <td>{{lista.fecha}}</td>
              <td>{{lista.nombre}}</td>
              <td>{% for obj in lista.tipo_medio.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{% for obj in lista.temas.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{{lista.fecha_inicio}}</td>
              <td>{{lista.fecha_finalizacion}}</td>
              <td><a href="/fortalecimiento/medio/{{lista.id}}/">Ficha de medios</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
    {% endif %}  

    </div>
</div>
    

{% endblock contenido %}