{% extends "base.html" %}

{% block title %}
    Medios para fortalecimiento de conocimiento de actores
{% endblock title %}

{% block extra_js %}
{% endblock extra_js %}

{% block contenido %}

<div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">

        <li><a href="/">Inicio</a></li>
        <li><a href="/inicio/">Indicadores</a></li>
        <li class="current"><a href="#">fortalecimiento</a></li>

      </ul>
        <h3>Fortalecimiento de conocimiento de actores</h3>
        
        <div class="panel">
        <form class="form-inline" action="." method="POST">
            {%csrf_token%}
            <div class="row">
              <div class="large-3 columns">
                {{form.tipo_medio}}
                {{form.tipo_medio.errors}}
                {{form.temas}}
                {{form.temas.errors}}
                </div>
               <div class="large-3 columns">
                {{form.grupos_metas}}
                {{form.grupos_metas.errors}}
                {{form.fecha}}
                {{form.fecha.errors}}
              </div>
              <div class="large-6 columns">
            <button type="submit" class="boton">Consultar</button>
           </div>
          </div>
        </form>
        </div>

<div class="section-container  auto" data-section>
  {% if  lista_forta %}
  <section>
    <p class="title" data-section-title><a href="#">Listo de fortalecimiento</a></p>
    <div class="content" data-section-content>
        <table>
          <thead>
            <tr>
              <th>Año</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Tema</th>
              <th>Fecha inicio</th>
              <th>Fecha finalización</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in lista_forta %}    
            <tr>
              <td>{{lista.fecha}}</td>
              <td>{{lista.nombre}}</td>
              <td>{% for obj in lista.tipo_medio.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{% for obj in lista.temas.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{{lista.fecha_inicio}}</td>
              <td>{{lista.fecha_finalizacion}}</td>
              <td><a href="/fortalecimiento/medio/{{lista.id}}/">Ficha de medios</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
    </div>
  </section>
   {% endif %}  
</div>

    </div>
</div>
    

{% endblock contenido %}