{% extends "base.html" %}
{% block title %}
    {{servicio.nombre}}
{% endblock title %}

{% load thumbnail %}

{% block extra_js %}

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.raty.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   
    $('span[id^="star"]').each(function(){
        var tid = $(this).attr('rel'); 
     $(this).raty({
        readOnly: true,
        target : tid ,
        score: function() {
          return $(this).attr('data-score');
        },
        starOff : '{{STATIC_URL}}img/star-off.png', 
        starOn : '{{STATIC_URL}}img/star-on.png'     
          }); 
      }); 

});
</script>
{% endblock extra_js %}

{% block contenido %}
<div class="row">
    <div class="large-12 column">

      {% if servicio.get_fotos %}
            <div class="gallery row">
                <div class="showcase large-2 columns">
                  <ul data-orbit data-options="bullets:false; navigation_arrows:false;slide_number:false;">
                    {% for obj in servicio.get_fotos %}
                        {% thumbnail obj.foto "150x150" crop="10%" as img%}
                        <li>
                          <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                          <div class="orbit-caption">{{obj.nombre}}</div>
                      </li>
                        {% endthumbnail %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %} <br>

        nombre de servicio:
        {{servicio.nombre}} <br>
        objetivos:
        {{servicio.objetivos}} <br>
        año:
        {{servicio.fecha}} <br>
        tipo de servicio:
        {% for obj in servicio.tipos_servicios.all %}
            {{obj}},
        {% endfor %} <br>
        temas que abordan:
        {% for obj in servicio.temas_abordan.all %}
            {{obj}},
        {% endfor %} <br>
        organismo que se beneficiaron:
        {% for obj in servicio.org_benefician.all %}
            {{obj}},
        {% endfor %} <br>
        fecha de inicio:
        {{servicio.fecha_inicio}} <br>
        fecha de finalizacion:
        {{servicio.fecha_finalizacion}} <br>
        Monto:
        {{servicio.monto}} <br>
        conclusiones:
        {{servicio.conclusiones}} <br>
        EVALUACION DE IMPACTO DEL SERVICIO <br><br>
         <table>
          <thead>
            <tr>
              <th>Evalaucion</th>
              <th>Escala (1 - 5)</th>
            </tr>
          </thead>
          <tbody>
           {% for lista in servicio.resultadoevaluacion_set.all %}    
            <tr>
              <td>{{lista.evaluacion}}</td>
              <td><span id="star_{{lista.escala}}" data-score="{{lista.escala}}" rel="#hint_{{lista.escala}}" ></span>  <span  id="hint_{{lista.escala}}">   </span>{{lista.escala}}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>

    </div>
</div>

{%endblock%}