{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Servivios
{% endblock title %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/jquery.multiselect.css' %}" /> 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.multiselect.js' %}"></script>

<script type="text/javascript">
    $(function(){
      $("#id_tipos_servicios").multiselect(); 
      
    });   
  </script>
{% endblock extra_js %}

{% block contenido %}

<div class="row">
    
    <div class="large-12 columns">

       <ul class="breadcrumbs">

        <li><a href="/">Inicio</a></li>
        <li><a href="/inicio/">Indicadores</a></li>
        <li class="current"><a href="#">Servicios</a></li>

      </ul>
        
        <h3>Servicios</h3>

        <div class="panel">
        <form class="form-inline" action="." method="POST">
            {%csrf_token%}
            <div class="row">
              <div class="large-3 columns">
                {{form.tipos_servicios}}
                {{form.tipos_servicios.errors}}
                {{form.temas_abordan}}
                {{form.temas_abordan.errors}}
              </div>
              <div class="large-3 columns">
                {{form.org_benefician}}
                {{form.org_benefician.errors}}
                {{form.fecha}}
                {{form.fecha.errors}}
            </div>  
            <div class="large-6 columns">
            <button type="submit" class="boton">Consultar</button>
          </div>
        </div>
        </form>
      </div>

  <div class="section-container  auto" data-section>
  {% if  lista_servicios %}
  <section>
    <p class="title" data-section-title><a href="#">Lista de servicios</a></p>
    <div class="content" data-section-content>
        <table>
          <thead>
            <tr>
              <th>Año</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Tema</th>
              <th>Tipo org. benefician</th>
              <th>Monto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in lista_servicios %}    
            <tr>
              <td>{{lista.fecha}}</td>
              <td>{{lista.nombre}}</td>
              <td>{% for obj in lista.tipos_servicios.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{% for obj in lista.temas_abordan.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>{% for obj in lista.org_benefician.all%}
                      {{obj}},
                    {%endfor%}
              </td>
              <td>${{lista.monto}}</td>
              <td><a href="/servicios/servicio/{{lista.id}}/">Ficha de servicio</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
  </section>
  {% endif %}
  </div>  

    </div>
</div>
    

{% endblock contenido %}