{% extends "base.html" %}
{% block title %}
    {{iniciativa.nombre}}
{% endblock title %}

{% load thumbnail %}

{% block contenido %}
<div class="row">
    <div class="large-12 column">
        
       {% if iniciativa.get_fotos %}
            <div class="gallery row">
                <div class="showcase large-2 columns">
                    <ul data-orbit data-options="bullets:false; navigation_arrows:false;slide_number:false;">
                    {% for obj in iniciativa.get_fotos %}
                        {% thumbnail obj.foto "150x150" crop="10%" as img%}
                        <li>
                            <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                            <div class="orbit-caption">{{obj.nombre}}</div>
                        </li>
                        {% endthumbnail %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %} <br>


        nombre de la prueba:
        {{iniciativa.nombre}} <br>
        año:
        {{iniciativa.fecha}} <br>
        Espacio de innovación:
        <a href="/espacio/{{iniciativa.espacio.id}}">{{iniciativa.espacio}}</a>
        <br>
        Tipo:
        {{iniciativa.tipo}} <br>
        fecha de inicio:
        {{iniciativa.fecha_inicio}} <br>
        fecha de finalización:
        {{iniciativa.fecha_finalizacion}}<br>
        {% if  iniciativa.temas.all%}
            temas que aborda:
        {% for obj in iniciativa.temas.all %}
            {{obj}} <br>
        {% endfor %} <br>
        {% endif %}
        {% if  iniciativa.actividades.all%}
            actividades:
        {% for obj in iniciativa.actividades.all %}
            {{obj}} <br>
        {% endfor %}
        {% endif %}
        {% if  iniciativa.problema%}
            <h4>La logica de la iniciativa</h4>
        <br><br>
        el problema:
        {{iniciativa.problema}} <br>
        {% else %}
            <p>No hay logicas de iniciativas</p>
        {% endif %}
        {% if iniciativa.analisis %}
            Analisis del tema:
        {{iniciativa.analisis}} <br>
        {% endif %}
        {% if  iniciativa.enfoque%}
            Enfoque de la iniciativa:
        {{iniciativa.enfoque}} <br>
        {% endif %}
        {% if  iniciativa.resultado%}
            Resultados esperados:
        {{iniciativa.resultado}} <br>
        {% endif %}
        {% if  iniciativa.sobre_tierra%}
             <h4>Resultados obtenidos de la iniciativa</h4><br>
            Sobre defensa de la tierra:
            {{iniciativa.sobre_tierra}} <br>
        {% else %}
            <p>Aun no hay resultados obtenidos de la iniciativa</p>
        {% endif %}
        {% if  iniciativa.fomento%}
            Sobre el fomento de producción agroecológica y alimentos sanos:
        {{iniciativa.fomento}} <br>
        {% endif %}
        {% if iniciativa.conservacion %}
            Sobre la conservación de recursos naturales, semilla criolla y biodiversidad:
        {{iniciativa.conservacion}} <br>
        {% endif %}
        {% if  iniciativa.inversion%}
             Sobre la mejora en inversión pública, privada  o acceso a crédito
        {{iniciativa.inversion}} <br>
        {% endif %}
       {% if  iniciativa.acceso_mercado%}
            Sobre la mejora en acceso a mercados locales para los alimentos
        {{iniciativa.acceso_mercado}} <br>
       {% endif %}
       {% if  iniciativa.comunicacion%}
           Sobre la mejora en comunicación y desarrollo de protagonismo de pequeños produtores
        {{iniciativa.comunicacion}} <br>
       {% endif %}
        {% if iniciativa.reduccion %}
             Sobre la reducción de riesgo de los sistemas locales de alimentos
            {{iniciativa.reduccion}} <br>
        {% endif %}
       
    </div>
</div>
{% endblock%}