{% extends "base.html" %}

{% block title %}
    Lista de los espacios para innovar politicas
{% endblock title %}

{% block extra_js %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
$(document).ready(function() {
    
     var styles = [{"featureType": "landscape","stylers": [{"hue": "#FFA800"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "road.highway","stylers": [{"hue": "#FF0300"},{"saturation": -100},{"lightness": 61.39999999999998},{"gamma": 1}]},{"featureType": "road.arterial","stylers": [{"hue": "#FBFF00"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "road.local","stylers": [{"hue": "#00FFFD"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "water","stylers": [{"hue": "#0094FF"},{"saturation": 39.39393939393935},{"lightness": -12.70588235294116},{"gamma": 1}]},{"featureType": "poi","stylers": [{"hue": "#9FFF00"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]}]

      var styledMap = new google.maps.StyledMapType(styles,
      {name: "Styled Map"});


      var mapOptions = {
            center: new google.maps.LatLng(12.877, -85.001),
            zoom: 7,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
          }
          var map = new google.maps.Map(document.getElementById('map'),
                                        mapOptions);

          map.mapTypes.set('map_style', styledMap);
          map.setMapTypeId('map_style');

          //comineza para mostrar mapa
          $.getJSON('/ver_mapa_completo/', function(data){
              $.each(data, function(i, elemento){
                  var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                  var marker = new google.maps.Marker({
                      position: latlng,
                      map: map,
                      name: elemento.nombre,
                      desc: elemento.id,
                      //icon: '/files/img/fruits.png' 
                  });
                  google.maps.event.addListener(marker, "click", function() {
                   var html = '<b><a href="/promotor/'+ elemento.id +'" class="verde">' + elemento.nombre +  
                              '<br><a href="/promotor/'+ elemento.id +'" class="btn botopococ btn-mini btn-success">Ver Ficha</a>';
                    infowindow = new google.maps.InfoWindow({
                              content: html,
                              zIndex: 999,
                    });
                    infowindow.open(map, this);
                    });
              });
          });

});
</script>
{% endblock extra_js %}

{% block contenido %}

<div class="row">
    <h1>Espacios para innovar politicas</h1>
    <div class="large-12 columns">
        
        <form class="form-inline" action="." method="POST">
            {%csrf_token%}
            <div class="selects">
                {{form.zona}}
                {{form.zona.errors}}
                {{form.cobertura}}
                {{form.cobertura.errors}}
                {{form.activo}}
                {{form.activo.errors}}
                {{form.tipos}}
                {{form.tipos.errors}}
            </div>  
            <button type="submit" class="boton">Consultar</button>
        </form>
        <div id="map" style="width: 100%; height: 400px"> </div>
    {% if  lista_espacio %}
        <table>
          <thead>
            <tr>
              <th width="200">Nombre</th>
              <th>Año activo</th>
              <th width="150">Zona</th>
              <th width="150">Cobertura</th>
              <th width="150">Tipo</th>
              <th width="150"></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in lista_espacio %}    
            <tr>
              <td>{{lista.nombre}}</td>
              <td>{{lista.get_activos_display}}</td>
              <td>{{lista.get_zona_display}}</td>
              <td>{{lista.get_cobertura_display}}</td>
              <td>{{lista.tipos}}</td>
              <td><a href="/espacio/{{lista.id}}/">Ficha Espacio</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
    {% endif %}  

    </div>
</div>
    

{% endblock contenido %}