{% extends "base.html" %}
{% block title %}
    {{promotor.nombre}}
{% endblock title %}

{% block extra_js %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Bosque', {{promotor.bosque}}],
          ['Potrero con arboles', {{promotor.potrero}}],
          ['Tacotales', {{promotor.tacotales}}],
          ['Forestal', {{promotor.forestal}}],
          ['Cultivos perennes', {{promotor.perennes}}],
          ['Plantacion para leña', {{promotor.lena}}],
          ['Cultivos anuales', {{promotor.anuales}}],
          ['Frutales', {{promotor.frutales}}],
          ['Potrero abierto', {{promotor.potrero_abierto}}],
          ['Cultivos patio', {{promotor.patio}}],
        ]);
        var options = {'title':'Uso de tierra',
                       'width':400,
                       'height':300,
                       'chartArea': {'width': '100%', 'height': '80%'},
                       'is3D':true,
                        'legend': {'position': 'bottom'},};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  
{% endblock extra_js %}

{% load thumbnail %}

{% block contenido %}
<div class="row">
    <div class="large-12 columns">

  <ul class="breadcrumbs">

    <li><a href="/">Inicio</a></li>
    <li><a href="/inicio/">Indicadores</a></li>
    <li><a href="/promotores/">Promotores</a></li>
    <li class="current"><a href="#">{{promotor.nombre}}</a></li>

  </ul>

<div class="section-container vertical-tabs" data-section="vertical-tabs">
  <section>
    <p class="title" data-section-title><a href="#">Datos Generales</a></p>
    <div class="content" data-section-content>

      <div class="row">
          <div class="large-4 columns">
      {% if promotor.get_fotos %} 
                  <ul data-orbit data-options="bullets:false; navigation_arrows:false;slide_number:false;" class="th">
                    {% for obj in promotor.get_fotos %}
                        {% thumbnail obj.foto "250x170" crop="10%" as img%}
                        <li>
                          <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>      
                      </li>
                        {% endthumbnail %}
                    {% endfor %}
                    </ul>
                
        {% endif %}
          </div>
              <div class="large-8 columns">
                    <div id="chart_div"></div> 
              </div>
        
      </div> {# cierra el row #}
        
        <div class="row">
          <div class="large-4 columns">
                    <h6>Nombre promotor: </h6>
                    {{promotor.nombre}}
                    <h6>Sexo: </h6>
                    {{promotor.get_sexo_display}}
                    <h6>Edad: </h6>
                    {{promotor.edad}}
                    
              </div>
          <div class="large-4 columns">
              <h6>Educación:</h6>
                    {{promotor.get_educacion_display}}
              <h6>Contacto: </h6>
                    {{promotor.contacto}}
              <h6>Año activo: </h6>
                    {{promotor.get_activo_display}}
              <h6>Zona: </h6>
              {{promotor.get_zona_display}}
              <h6>Departamento: </h6>
              {{promotor.departamento}}
          </div>

          <div class="large-4 columns">
              <h6>Municipio: </h6>
              {{promotor.municipio}}
              <h6>Organización campesina: </h6>
              {{promotor.organizacion_campesina}}
              <h6>Organización civil:</h6> 
              {{promotor.organizacion_civil}}
              <h6>Escuela: </h6>
              {{promotor.escuela}} <br>
        </div>

      </div> {# cierra el row #}
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Datos de la finca</a></p>
    <div class="content" data-section-content>
        <div class="row">
          <div class="large-6 columns">
                <h6>Tipo suelo: </h6>
                {{promotor.tipo_suelo}} 
                <h6>Tipo de clima: </h6>
                {{promotor.get_tipo_clima_display}} 
                <h6>Meses lluvia:</h6> 
                {{promotor.meses_lluvia}} meses 
                <h6>Tamaño de la finca: </h6>
                {{promotor.finca}} Mz
                <h6>Acceso a riego:</h6> 
                {{promotor.get_riego_display}} 
        </div>

        <div class="large-6 columns">
              <h6>Cultivos de la finca: </h6>
              {% for cultivo in promotor.cultivos_finca.all %}
                  {{cultivo}},
              {% empty %}
                  <p>No tiene cultivos en la finca</p>
              {% endfor %}
              <h6>Animales en la finca:</h6>
              {% for animales in promotor.animales_finca.all %}
                  {{animales}},
              {% empty %}
                  <p>No tienen animales en al finca</p>
              {% endfor %}
              <h6>Productos procesados: </h6>
              {% for producto in promotor.producto_procesado.all %}
                  {{producto}},
              {% empty %}
                  <p>No tiene productos procesados</p>
              {% endfor %}
              <h6>Acceso a mercado:</h6>
              {% for mercado in promotor.mercado_accede.all  %}
                  {{mercado}},
              {% empty %}
                  <p>No tiene acceso a mercado</p>
              {% endfor %}
        </div>
      </div> {# cierre del row #}
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Pruebas</a></p>
    <div class="content" data-section-content>
      {% if promotor.practicasproductivas_set.all %}
    Listados de pruebas del promotor: <br>
        <table>
          <thead>
            <tr>
              <th>Año</th>
              <th width="200">Nombre de la prueba</th>
              <th>Tema</th>
              <th>Rubro</th>
              <th width="150">Escala</th>
              <th>Inicio</th>
              <th>Final</th>
              <th width="150"></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in promotor.practicasproductivas_set.all %}    
            <tr>
              <td>{{lista.fecha_prueba}}</td>
              <td>{{lista.nombre_prueba}}</td>
              <td>{{lista.tema_prueba}}</td>
              <td>{{lista.rubro_prueba}}</td>
              <td>{{lista.escala_prueba}}</td>
              <td>{{lista.fecha_inicio}}</td>
              <td>{{lista.fecha_finalizacion}}</td>
              <td><a href="/practica/{{lista.id}}/">Ficha prueba practica</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
    {% endif %}

    </div>
  </section>
</div> {# fin del tabs #}



    </div>

</div>
    
{% endblock contenido %}