{% extends "base.html" %}
{% block title %}
    {{practica.nombre_prueba}}
{% endblock title %}

{% load thumbnail %}

{% block contenido %}
<div class="row">
    <div class="large-12 column">
        
        {% if practica.get_fotos %}
            <div class="gallery">
                <div class="showcase large-2 columns">
                    {% for obj in practica.get_fotos %}
                        {% thumbnail obj.foto "150x150" crop="10%" as img%}
                        <img class="th" src="/media/{{img}}">
                        <div><a href="#">{{obj.nombre}}</a></div>  <br>
                        {% endthumbnail %}
                    {% endfor %}
                </div>
            </div>
        {% endif %} <br>

        nombre de la prueba:
        {{practica.nombre_prueba}} <br>
        año:
        {{practica.fecha_prueba}} <br>
        tema:
        {{practica.tema_prueba}} <br>
        rubro:
        {{practica.rubro_prueba}} <br>
        escala:
        {{practica.escala_prueba}} <br>
        {% if practica.promotor.get_zona_display %}
             zona:
        {{practica.promotor.get_zona_display}}<br>
        {% endif %}
        departamento:
        {{practica.promotor.departamento}} <br>
        municipio:
        {{practica.promotor.municipio}} <br>
        promotor:
        <a href="/promotor/{{practica.promotor.id}}">{{practica.promotor.nombre}}</a>
         <br>
        tipo de suelo:
        {{practica.promotor.tipo_suelo}} <br>
        tipo de clima:
        {{practica.promotor.get_tipo_clima_display}} <br>
        {% if  practica.historia%}
             Historia:
        {{practica.historia}} <br> <br> <br>
        {% endif %}

        {% if practica.problema %}
             La Logicas: <br> <br>   
        el  problema:
        {{practica.problema}} <br>

        {% else%}
            <p>No tiene logica aun ingresada en la ficha</p>
        {% endif %}

        {% if  practica.agroecologico%}
            analisis agroecologico:
        {{practica.agroecologico}} <br>
        {% endif %}
        {% if practica.aprobar %}
            opciones a probar y razones:
        {{practica.aprobar}} <br>
        {% endif %}
        {% if  practica.resultados%}
            resultados:
        {{practica.resultados}} <br> <br> <br>
        {% endif %}
        {% if  practica.salud_planta%}
             Los Resulados: <br>
        salud de las plantas:
        {{practica.salud_planta}} <br>
        {% else %}
            <p>Aun no tiene ingresados los resultados</p>
        {% endif %}
       {% if  practica.vida_suelo%}
           vida de suelo:
        {{practica.vida_suelo}} <br>
       {% endif %}
        {% if  practica.prod_rendimiento%}
             producción y rendimiento:
        {{practica.prod_rendimiento}} <br>
        {% endif %}
       {% if  practica.calidad_producto%}
           calidad del producto:
        {{practica.calidad_producto}} <br>
       {% endif %}
        {% if  practica.plagas%}
            incidencia de plagas y contral natural:
        {{practica.plagas}} <br>
        {% endif %}
        {% if practica.costo %}
            costos:
        {{practica.costo}} <br> <br>
        {% endif %}

        {% if  practica.diascampoprueba_set.all%}
             Dias de campos: <br> <br>

        <table>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Hombre</th>
              <th>Mujeres</th>
              <th width="200">Comentario</th>
            </tr>
          </thead>
          <tbody>
           {% for lista in practica.diascampoprueba_set.all  %}    
            <tr>
              <td>{{lista.fechas}}</td>
              <td>{{lista.hombres}}</td>
              <td>{{lista.mujeres}}</td>
              <td>{{lista.comentario}}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
        {% else %}
            <p>No tiene dias de campo</p>
        {% endif %}
        

    </div>
</div>
{% endblock%}