@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background: #e7e5de url(../img/headeer.png);
}

#ingresar {
    float: right;
    margin-top: 20px;
    background-color: green;
}

#ingresar:hover{
    background-color: blue;
}

.logo{
    float: left;
    text-align: left;
    width: 90px;
}

.headbg {
    background: url(../img/header.png)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}

#map img {
    max-width: none !important;
 }

 .name{
    margin-top: 25px;
 }

.head-text { 
   color: #fff;

}

header nav ul { 
    margin: 0 0 0 -20px; padding: 0; float: right; overflow: hidden; 
}

header nav ul li { 
    margin: 0 0 0 20px; padding: 0; display: block; float: left; 
}

.three img {
    height: 128px;
    width: 128px;
}

.nine {
    margin: -41px 2px 3px 4px;
}

.apps{
    margin-top: -90px;
}

.elem-apps {
    background: #f3f3f2;
    min-height: 146px;
    -webkit-border-top-left-radius: 5px 10px; 
    -webkit-border-top-right-radius: 5px 10px; 
    border-top-right-radius: 5px 10px;
    border-top-left-radius: 5px 10px;

}

.elem-apps:hover {
    background: #f3f3f2;
    min-height: 146px;
    -webkit-border-top-left-radius: 5px 10px; 
    -webkit-border-top-right-radius: 5px 10px; 
    border-top-right-radius: 5px 10px;
    border-top-left-radius: 5px 10px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}

.elem-tittle p{
    /*padding: 1px 2px 2px 20px;*/
    color: #000;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.elem-tittle p:hover {
    /*padding: 1px 2px 2px 20px;*/
    color: blue;
    font-size: 16px;
    text-align: center;
}

.elem-figura img{
    /*padding-left: 35px;*/
    width: 190px;
    margin-left: 15px;
}

.elem-cont{
    text-align: left;
    font-size: 14px;
    margin-left: 10px;

}

.elem-boton{
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}