body {
    background: #cacaca url(../img/bg.png)
}

#map img {
    max-width: none !important;
 }

 header { 
    margin-bottom: 20px; 
}
header nav ul { 
    margin: 0 0 0 -20px; padding: 0; float: right; overflow: hidden; 
}
header nav ul li { 
    margin: 0 0 0 20px; padding: 0; display: block; float: left; 
}

.three img {
    height: 128px;
    width: 128px;
}

.nine {
    margin: -41px 2px 3px 4px;
}

.elem-apps {
    background: #f3f3f2;
    height: 146px;
    -webkit-border-top-left-radius: 5px 10px; 
    -webkit-border-top-right-radius: 5px 10px; 
    border-top-right-radius: 5px 10px;
    border-top-left-radius: 5px 10px;

}

.elem-apps:hover {
    background: #f3f3f2;
    height: 146px;
    -webkit-border-top-left-radius: 5px 10px; 
    -webkit-border-top-right-radius: 5px 10px; 
    border-top-right-radius: 5px 10px;
    border-top-left-radius: 5px 10px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}

.elem-tittle h3{
    padding: 1px 2px 2px 20px;
    color: #000;
    font-size: 16px;
}

.elem-tittle h3:hover {
    padding: 1px 2px 2px 20px;
    color: blue;
    font-size: 16px;
}

.elem-figura img{
    border-radius: 5px 10px;
    padding-left: 35px;
}