{% extends "base_menu.html" %}

{% block title %}
    {{fmejora.nombre_mejora}}
{% endblock title %}

{% load thumbnail %}
{% load staticfiles %}
{% block contenido %}
<div class="large-12 columns">
    <div class="large-2 columns" id="men">
        <ul class="side-nav menu">
          <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
          <li><a href="/gpromotor">Estadisticas Generales</a></li>
          <li><a href="/promotor">Promotoras y promotores</a></li>
          <li><a href="/pruebas">Pruebas de practicas productivas</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
          <li><a href="/gempresas">Estadisticas Generales</a></li>
          <li><a href="/empresa">Empresas Rurales</a></li>
          <li><a href="/mejora" class="active">Mejoras para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
          <li><a href="/gespacios">Estadisticas Generales</a></li>
          <li><a href="/espacio">Espacios para Innovar</a></li>
          <li><a href="/iniciativas">Iniciativas para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
          <li><a href="/gservicios">Estadisticas Generales</a></li>
          <li><a href="#">Conocimientos de Actores</a></li>
          <li><a href="#">Servicios para Mejorar Org.</a></li>
        </ul>
    </div>
    <div class="large-10 columns" id="cont">
        <div class="row ">
            <div class="large-12 columns">
                <p class="ptitulo">Pruebas de Mejoras Empresas</p>
                <hr/>

        <div class="row ">
          <div class="large-1 columns">
            <img src="{%static 'img/empresa_rural.png' %}" alt="Empresa rural"/>
          </div>
          <div class="large-11 columns">
            <div class="fpmtr">Empresa</div>
            <div class="fnpmtr">{{fmejora.empresa.nombre}}</div>
            <a href="/fempresa/{{fmejora.empresa.id}}/" class="button right btback">«Volver a Ficha</a>
          </div>
        </div>
      </div>
  
      <div class="row ">
        <div class="large-12 columns">
          <div class="large-1 columns">
            <img src="{%static 'img/lista2.png'%}" alt"Ficha Prueba"/>
          </div>
          <div class="large-11 columns">
            <p class="fpmtr">Nombre de Mejora</p>
            <p class="fnpmtr">{{fmejora.nombre_mejora}}</p>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="large-12 columns">
          <div class="row ">
            <div class="large-11 columns">
              <table class="fpdatos">
                <thead>
                  <tr>
                    <th  class="fpdatosh">Departamento</th>
                    <th  class="fpdatosh">Municipio</th>
                    <th  class="fpdatosh">Año</th>
                    <th  class="fpdatosh">Zona</th>
                    <th  class="fpdatosh">Rubro</th>
                    <th  class="fpdatosh">Mercado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="fpdatosb">{{fmejora.empresa.departamento}}</td>
                    <td class="fpdatosb">{{fmejora.empresa.municipio.nombre}}</td>
                    <td class="fpdatosb">{{fmejora.fecha_prueba}}</td>
                    <td class="fpdatosb">{{fmejora.empresa.get_zona_display}}</td>
                    <td class="fpdatosb">{{fmejora.rubro_prueba}}</td>
                    <td class="fpdatosb">{{fmejora.mercado_prueba}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="large-12 columns">
          <div class="large-6 columns">

              
              <div class="ficha-prueba">
                <table class="tpromotor">
                  <tr>
                    <td class="tpromotort">Tema</td>
                    <td class="tpromotord">{{fmejora.tema_prueba}}</td>
                  </tr>
                  <tr>
                    <td class="tpromotort">Tipo de Empresa</td>
                    <td class="tpromotord">{{fmejora.empresa.tipo}}</td>
                  </tr>
                </table>
              </div>
            
          </div>
          <div class="large-5 columns">
            <div class="ficha-slid">
               {% if fmejora.get_fotos %}
              <ul class="example-orbit" data-orbit data-options="navigation-arrows:true;bullets: false">
                  {% for obj in fmejora.get_fotos %}
                              {% thumbnail obj.foto "450x300" crop="10%" as img%}
                            <li>
                                <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                            </li>
                              {% endthumbnail %}
                          {% endfor %}
              </ul>
              {%else%}
                      <p>No tienes imagenes</p>
                  {% endif %} 
            </div>
          </div>
        </div>
      </div>

      
      <div class="large-12 columns">
          <p class="logica">Logica</p>        
      </div>
      
      
        <div class="large-12 columns">
          <table class="tlogica">
            <tr>
              <td class="tabpro">Problema</td>
              {% if fmejora.problema %}
              <td class="tabprod">{{fmejora.problema}}</td>
              {% else%}
                    <td class="tabprod">No tiene problema aun ingresado en la ficha</td>
                  {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Analisis Causa</td>
              {% if fmejora.causa %}
              <td class="tabprod">{{fmejora.causa}}</td>
              {% else%}
                    <td class="tabprod">No tiene analisis aun ingresado en la ficha</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Opciones a Mejorar</td>
              {% if fmejora.mejorar %}
              <td class="tabprod">
                <ul>
                  <li>{{fmejora.mejorar}}</li>
                </ul>
              </td>
              {% else %}
              <td class="tabprod">
                <ul>
                  <li>No tiene opciones a mejorar aun ingresado en la ficha</li>
                </ul>
              </td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Resultados Esperados <img src="{%static 'img/check.png'%}"></td>
              {% if fmejora.resultados %}
              <td class="tabprod">
                <ul>
                  <li>{{fmejora.resultados}}</li>
                </ul>
              </td>
              {% else %}
              <td class="tabprod">
                <ul>
                  <li>No tiene resultados aun ingresado en la ficha</li>
                </ul>
              </td>
              {% endif %}
            </tr>
          </table>
        </div>
      
      <div class="row ">
        <div class="large-12 columns">
          <div class="large-1 columns">
            <p class="resultado">Resultados</p>
          </div>
        </div>
      </div>

        <div class="large-12 columns">
          <table class="tresultado">
            <tr>
              <td class="tabpro">Volumen de Acopio</td>
              {% if fmejora.volumen_acopio %}
              <td class="tabprod">{{fmejora.volumen_acopio}}</td>
              {% else %}
              <td class="tabprod">Aun no tiene ingresado el volumen de acopio</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Mejora Procesamiento y Calidad</td>
              {% if fmejora.mejora_proce_calidad %}
              <td class="tabprod">{{ fmejora.mejora_proce_calidad }}</td>
              {% else %}
              <td class="tabprod">Aun no tiene ingresado la Mejora del procesamiento y la calidad</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Mejora en Presentacion y Acceso a Mercado</td>
              {% if fmejora.presentacion_acceso %}
              <td class="tabprod">{{ fmejora.presentacion_acceso }}</td>
              {% else %}
              <td class="tabprod">Aun no tiene ingresado la mejora</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Mercado de inversion acceso a credito</td>
              {% if fmejora.inversion_credito %}
              <td class="tabprod">{{fmejora.inversion_credito}}</td>
                  {% else %}
              <td class="tabprod">Aun no tiene ingresado la inversion</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Mejora de precio y condicion de comercialización</td>
              {% if fmejora.mejora_precio %}
              <td class="tabprod">{{fmejora.mejora_precio}}</td>
                  {% else %}
              <td class="tabprod">Aun no tiene ingresado la mejora</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Mejora en ingresos</td>
              {% if fmejora.mejora_ingreso %}
              <td class="tabprod">{{fmejora.mejora_ingreso}}</td>
                  {% else %}
              <td class="tabprod">Aun no tiene ingresado la mejora</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Reducción de riesgo y costo</td>
              {% if fmejora.reduccion_costo %}
              <td class="tabprod">{{fmejora.reduccion_costo}}</td>
                  {% else %}
              <td class="tabprod">Aun no tiene ingresado los costos</td>
              {% endif %}
            </tr>
            <tr>
              <td class="tabpro">Dias de Campo</td>
              {% if  fmejora.diascampoempresa_set.all%}
                {% for lista in fmejora.diascampoempresa_set.all  %}
              <td class="tabprod">28 Dias</td>
                {% endfor %}
              {% else %}
              <td class="tabprod">No tiene dias de campo</td>
              {% endif %}
            </tr>
          </table>
        </div>
      
    </div>
  </div>
</div>
{% endblock contenido %}