{% extends "base_menu.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block contenido %}
<div class="large-12 columns">
	<div class="large-3 columns">
		<ul class="side-nav menu">
		  <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
		  <li><a href="#">Promotoras y promotores</a></li>
		  <li><a href="#">Pruebas de practicas productivas</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
		  <li><a href="#">Empresas Rurales</a></li>
		  <li><a href="#">Mejoras para Innovar</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
		  <li><a href="#">Espacios para Innovar</a></li>
		  <li><a href="#">Iniciativas para Innovar</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
		  <li><a href="#">Conocimientos de Actores</a></li>
		  <li><a href="#">Servicios para Mejorar Org.</a></li>
		</ul>
	</div>
	<div class="large-9 columns">
		<p class="ptitulo">Promotoras y promotores</p>
		<hr/>
		<div class="large-1 columns">
			<img src="{%static 'img/fpromotor.png' %}" alt="Ficha Promotor"/>
		</div>
		<div class="large-8 columns">
			<p class="pmtr">Promotor</p>
			<p class="npmtr">Jose Abelardo Espinales</p>
		</div>
	</div>

	<div class="large-7 columns">
		<table class="pdatos">
			<thead>
				<tr>
					<th width="120px" class="pdatosh">Departamento</th>
					<th width="120px" class="pdatosh">Municipio</th>
					<th width="180px" class="pdatosh">Organizacion Campesina</th>
					<th width="170px" class="pdatosh">Organizacion de Apoyo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="pdatosb">Matagalpa</td>
					<td class="pdatosb">San Ramon</td>
					<td class="pdatosb">UNAG</td>
					<td class="pdatosb">SIMAS</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="large-9 columns">
		<div class="large-4 columns">
			<div class="ficha-elem">
				<table class="tpromotor">
					<tr>
						<td class="tpromotort">Tipo de Suelo</td>
						<td class="tpromotord">Franco-Arcilloso</td>
					</tr>
					<tr>
						<td class="tpromotort">Tipo de Clima</td>
						<td class="tpromotord">Seco</td>
					</tr>
					<tr>
						<td class="tpromotort">Meses de Lluvia</td>
						<td class="tpromotord">5 Meses</td>
					</tr>
					<tr>
						<td class="tpromotort">Tamaño de Finca</td>
						<td class="tpromotord">6 Mz</td>
					</tr>
					<tr>
						<td class="tpromotort">Acceso Riego</td>
						<td class="tpromotord">No hay</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="ficha-slid">
				<ul class="example-orbit" data-orbit data-options="navigation-arrows:true;bullets: false">
	  				<li>
					    <img src="http://placehold.it/430x300" alt="slide 1" />					 
				  	</li>
					<li>
	    				<img src="http://placehold.it/430x300" alt="slide 2" />					    
	  				</li>
	  				<li>
					    <img src="http://placehold.it/430x300" alt="slide 3" />					    
	  				</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row frow">
	<div class="large-12 columns">
		<div class="large-5 columns">
			<div class="cap">
				<div>
					<p class="ptittle fpt">Cultivos</p>
						<div class="product">
							<img src="{% static 'img/maiz.png' %}" alt="Maiz">
							<p>Maiz</p>
						</div>
						<div class="product">
							<img src="{% static 'img/frijol.png' %}" alt="Frijol">
							<p>Frijol</p>
						</div>
						<div class="product">
							<img src="{% static 'img/platano.png' %}" alt="Platano">
							<p>Platano</p>
						</div>
						<div class="product">
							<img src="{% static 'img/pasto.png' %}" alt="Pasto">
							<p>Pasto</p>
						</div>
				</div>
				<hr/>
				<div>
					<p class="ptittle">Animales</p>
					<div class="product">
						<img src="{% static 'img/vaca.png' %}" alt="Vaca">
						<p>Vaca</p>
					</div>
					<div class="product">
						<img src="{% static 'img/cerdo.png' %}" alt="Cerdo">
						<p>Cerdo</p>
					</div>
					<div class="product">
						<img src="{% static 'img/gallina.png' %}" alt="Gallina">
						<p>Gallina</p>
					</div>
				</div>
				<hr/>
				<div>
					<p class="ptittle">Productos Procesados</p>
						<div class="product">
							<span class="prod-otrs">Cuajada</span>
							<span class="prod-otrs">Miel</span>
						</div>
				</div>
			</div>
		</div>
		<div class="large-7 columns">
			<div class="chart">
				<img src="{% static 'img/chart.png' %}" alt="Bar Chart">
			</div>
		</div>
	</div>
	</div>
	<div class="row frow">
	<div class="large-12 columns">
		<div class="large-9 columns">
			<p class="pruebasr"><img src="{% static 'img/lista.png' %}" alt="Lista"> Listas de Pruebas Realizadas</p>
		</div>
		<div class="large-1 columns">
			<a href="#" class="button bty">2014</a>
		</div>
		<div class="large-1 columns">
			<a href="#" class="button bty">2013</a>
		</div>
		<div class="large-1 columns">
			<a href="#" class="button bty">2012</a>
		</div>
	</div>
	</div>
	<div class="row frow">
	<div class="large-12 columns">
		<table class="tpruebasr">
			<thead>
				<tr>
					<th class="tpruebasrh">Año Activo</th>
					<th class="tpruebasrh">Nombre de Prueba</th>
					<th class="tpruebasrh">Tema</th>
					<th class="tpruebasrh">Rubro</th>
					<th class="tpruebasrh">Escala</th>
					<th class="tpruebasrh">Inicio</th>
					<th class="tpruebasrh">Fin</th>
					<th class="tpruebasrh">Dias de Campo</th>
				</tr>
			</thead>
			<tbody class="tpruebasrb">
				<tr>
					<td>2013</td>
					<td class="pp">Prueba de Productividad</td>
					<td>Abono</td>
					<td>Frijol</td>
					<td>1/2 Mz</td>
					<td>3 Ene</td>
					<td>23 Abr</td>
					<td>45</td>
				</tr>
				<tr>
					<td>2013</td>
					<td class="pp">Prueba de Productividad</td>
					<td>Abono</td>
					<td>Frijol</td>
					<td>1/2 Mz</td>
					<td>3 Ene</td>
					<td>23 Abr</td>
					<td>45</td>
				</tr>
				<tr>
					<td>2013</td>
					<td class="pp">Prueba de Productividad</td>
					<td>Abono</td>
					<td>Frijol</td>
					<td>1/2 Mz</td>
					<td>3 Ene</td>
					<td>23 Abr</td>
					<td>45</td>
				</tr>
				<tr>
					<td>2013</td>
					<td class="pp">Prueba de Productividad</td>
					<td>Abono</td>
					<td>Frijol</td>
					<td>1/2 Mz</td>
					<td>3 Ene</td>
					<td>23 Abr</td>
					<td>45</td>
				</tr>
				<tr>
					<td>2013</td>
					<td class="pp">Prueba de Productividad</td>
					<td>Abono</td>
					<td>Frijol</td>
					<td>1/2 Mz</td>
					<td>3 Ene</td>
					<td>23 Abr</td>
					<td>45</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>


{% endblock contenido %}