{% extends "base_menu.html" %}

{% block title %}
    {{promotor.nombre}}
{% endblock title %}

{% block extra_js %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Bosque', {{fpromotor.bosque}}],
          ['Potrero con arboles', {{fpromotor.potrero}}],
          ['Tacotales', {{fpromotor.tacotales}}],
          ['Forestal', {{fpromotor.forestal}}],
          ['Cultivos perennes', {{fpromotor.perennes}}],
          ['Plantacion para leña', {{fpromotor.lena}}],
          ['Cultivos anuales', {{fpromotor.anuales}}],
          ['Frutales', {{fpromotor.frutales}}],
          ['Potrero abierto', {{fpromotor.potrero_abierto}}],
          ['Cultivos patio', {{fpromotor.patio}}],
        ]);
        var options = {'title':'Uso de tierra',
                       
                       'chartArea': {'width': '100%', 'height': '80%'},
                       'is3D':true,
                        'legend': {'position': 'bottom'},};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  
{% endblock extra_js %}
{% load staticfiles %}
{% load thumbnail %}
{% block contenido %}
<div class="large-12 columns">
	<div class="large-3 columns">
		<ul class="side-nav menu" id="men">
		  <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
          <li><a href="/gpromotor">Estadisticas Generales</a></li>
          <li><a href="#">Promotoras y promotores</a></li>
          <li><a href="#">Pruebas de practicas productivas</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
          <li><a href="/gempresas">Estadisticas Generales</a></li>
          <li><a href="#">Empresas Rurales</a></li>
          <li><a href="#">Mejoras para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
          <li><a href="/gespacios">Estadisticas Generales</a></li>
          <li><a href="#">Espacios para Innovar</a></li>
          <li><a href="#">Iniciativas para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
          <li><a href="/gservicios">Estadisticas Generales</a></li>
          <li><a href="#">Conocimientos de Actores</a></li>
          <li><a href="#">Servicios para Mejorar Org.</a></li>
		</ul>
	</div>
	<div class="large-9 columns" id="cont">
		<div class="row ">
			<div class="large-12 columns">
				<p class="ptitulo">Promotoras y promotores</p>
				<hr/>
				<div class="large-1 columns">
					<img src="{%static 'img/fpromotor.png' %}" alt="Ficha Promotor"/>
				</div>
				<div class="large-11 columns">
					<p class="pmtr">Promotor</p>
					<p class="npmtr">{{fpromotor.nombre}}</p>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="large-12 columns">
				<div class="large-11 columns">
					<table class="pdatos">
						<thead>
							<tr>
								<th width="120px" class="pdatosh">Departamento</th>
								<th width="120px" class="pdatosh">Municipio</th>
								<th width="180px" class="pdatosh">Organizacion Campesina</th>
								<th width="170px" class="pdatosh">Organizacion de Apoyo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="pdatosb">{{fpromotor.departamento}}</td>
								<td class="pdatosb">{{fpromotor.municipio}}</td>
								<td class="pdatosb">{{fpromotor.organizacion_campesina}}</td>
								<td class="pdatosb">{{fpromotor.organizacion_civil}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row ">
			<div class="large-12 columns">
				<div class="row ">
					<div class="large-7 columns">
						<div class="ficha-elem">
							<table class="tpromotor">
								<tr>
									<td class="tpromotort">Tipo de Suelo</td>
									<td class="tpromotord">{{fpromotor.tipo_suelo}}</td>
								</tr>
								<tr>
									<td class="tpromotort">Tipo de Clima</td>
									<td class="tpromotord">{{fpromotor.get_tipo_clima_display}}</td>
								</tr>
								<tr>
									<td class="tpromotort">Meses de Lluvia</td>
									<td class="tpromotord">{{fpromotor.meses_lluvia}} Meses</td>
								</tr>
								<tr>
									<td class="tpromotort">Tamaño de Finca</td>
									<td class="tpromotord">{{fpromotor.finca}} Mz</td>
								</tr>
								<tr>
									<td class="tpromotort">Acceso Riego</td>
									<td class="tpromotord">{{fpromotor.get_riego_display}}</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="large-5 columns">
						{% if fpromotor.get_fotos %}
						<div class="ficha-slid">
							{% for obj in fpromotor.get_fotos %}
							<ul class="example-orbit" data-orbit data-options="navigation-arrows:true;bullets: false">
                        			{% thumbnail obj.foto "250x170" crop="10%" as img%}
                        		<li>
                          			<a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>      
                      			</li>
                        			{% endthumbnail %}
							</ul>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row ">
			<div class="large-12 columns">
				<div class="row ">
					<div class="large-6 columns">
						<div class="cap">
							<div>
								<p class="ptittle fpt">Cultivos</p>
									<div class="product">
										<img src="{% static 'img/maiz.png' %}" alt="Maiz">
										<p>Maiz</p>
									</div>
									<div class="product">
										<img src="{% static 'img/frijol.png' %}" alt="Frijol">
										<p>Frijol</p>
									</div>
									<div class="product">
										<img src="{% static 'img/platano.png' %}" alt="Platano">
										<p>Platano</p>
									</div>
									<div class="product">
										<img src="{% static 'img/pasto.png' %}" alt="Pasto">
										<p>Pasto</p>
									</div>
							</div>
							<hr/>
							<div>
								<p class="ptittle">Animales</p>
								<div class="product">
									<img src="{% static 'img/vaca.png' %}" alt="Vaca">
									<p>Vaca</p>
								</div>
								<div class="product">
									<img src="{% static 'img/cerdo.png' %}" alt="Cerdo">
									<p>Cerdo</p>
								</div>
								<div class="product">
									<img src="{% static 'img/gallina.png' %}" alt="Gallina">
									<p>Gallina</p>
								</div>
							</div>
							<hr/>
							<div>
								<p class="ptittle">Productos procesados</p>
									<div class="product">
										<span class="prod-otrs">Cuajada</span>
										<span class="prod-otrs">Miel</span>
									</div>
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="chart">
							<div id="chart_div"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row ">
			<div class="large-12 columns">
				<div class="large-9 columns">
					<p class="pruebasr"><img src="{% static 'img/lista.png' %}" alt="Lista"> Listas de Pruebas Realizadas</p>
				</div>
				<div class="large-1 columns">
					<a href="#" class="button bty">2014</a>
				</div>
				<div class="large-1 columns">
					<a href="#" class="button bty">2013</a>
				</div>
				<div class="large-1 columns">
					<a href="#" class="button bty">2012</a>
				</div>
			</div>
		</div>
		<div class="row ">
			<div class="large-12 columns">
				{% if fpromotor.practicasproductivas_set.all %}
				<table class="tpruebasr">
					<thead>
						<tr>
							<th class="tpruebasrh">Año Activo</th>
							<th class="tpruebasrh">Nombre de Prueba</th>
							<th class="tpruebasrh">Tema</th>
							<th class="tpruebasrh">Rubro</th>
							<th class="tpruebasrh">Escala</th>
							<th class="tpruebasrh">Inicio</th>
							<th class="tpruebasrh">Fin</th>
							<th class="tpruebasrh">Dias de Campo</th>
						</tr>
					</thead>
					<tbody class="tpruebasrb">
						{% for lista in fpromotor.practicasproductivas_set.all %}    
						<tr>
							<td>{{lista.fecha_prueba}}</td>
							<td><a class="pp" href="/practica/{{lista.id}}/">{{lista.nombre_prueba}}</a></td>
							<td>{{lista.tema_prueba}}</td>
							<td>{{lista.rubro_prueba}}</td>
							<td>{{lista.escala_prueba}}</td>
							<td>{{lista.fecha_inicio}}</td>
							<td>{{lista.fecha_finalizacion}}</td>
							<td>45</td>
						</tr><!--
						<tr>
							<td>2013</td>
							<td class="pp">Prueba de Productividad</td>
							<td>Abono</td>
							<td>Frijol</td>
							<td>1/2 Mz</td>
							<td>3 Ene</td>
							<td>23 Abr</td>
							<td>45</td>
						</tr>
						<tr>
							<td>2013</td>
							<td class="pp">Prueba de Productividad</td>
							<td>Abono</td>
							<td>Frijol</td>
							<td>1/2 Mz</td>
							<td>3 Ene</td>
							<td>23 Abr</td>
							<td>45</td>
						</tr>
						<tr>
							<td>2013</td>
							<td class="pp">Prueba de Productividad</td>
							<td>Abono</td>
							<td>Frijol</td>
							<td>1/2 Mz</td>
							<td>3 Ene</td>
							<td>23 Abr</td>
							<td>45</td>
						</tr>
						<tr>
							<td>2013</td>
							<td class="pp">Prueba de Productividad</td>
							<td>Abono</td>
							<td>Frijol</td>
							<td>1/2 Mz</td>
							<td>3 Ene</td>
							<td>23 Abr</td>
							<td>45</td>
						</tr>-->
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}