{% extends "base_menu.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block contenido %}
<div class="large-12 columns">
	<div class="large-3 columns">
		<ul class="side-nav menu">
		  <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
		  <li><a href="#">Promotoras y promotores</a></li>
		  <li><a href="#">Pruebas de practicas productivas</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
		  <li><a href="#">Empresas Rurales</a></li>
		  <li><a href="#">Mejoras para Innovar</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
		  <li><a href="#">Espacios para Innovar</a></li>
		  <li><a href="#">Iniciativas para Innovar</a></li>
		<br/>
		  <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
		  <li><a href="#">Conocimientos de Actores</a></li>
		  <li><a href="#">Servicios para Mejorar Org.</a></li>
		</ul>
	</div>
	<div class="large-9 columns">
		<p class="ptitulo">Promotoras y promotores</p>
		<hr/>
		<div class="large-1 columns">
			<img src="{%static 'img/fpromotor.png' %}" alt="Ficha Promotor"/>
		</div>
		<div class="large-8 columns">
			<p class="pmtr">Promotor</p>
			<p class="npmtr">Jose Abelardo Espinales</p>
		</div>
	</div>