{% extends "base_menu.html" %}

{% block title %}
    {{practica.nombre_prueba}}
{% endblock title %}

{% load thumbnail %}
{% load staticfiles %}
{% block contenido %}
<div class="large-12 columns">
	<div class="large-3 columns">
		<ul class="side-nav menu" id="men">
		  <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
          <li><a href="/gpromotor">Estadisticas Generales</a></li>
          <li><a href="/promotor">Promotoras y promotores</a></li>
          <li><a href="#" class="active">Pruebas de practicas productivas</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
          <li><a href="/gempresas">Estadisticas Generales</a></li>
          <li><a href="#">Empresas Rurales</a></li>
          <li><a href="#">Mejoras para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
          <li><a href="/gespacios">Estadisticas Generales</a></li>
          <li><a href="#">Espacios para Innovar</a></li>
          <li><a href="#">Iniciativas para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
          <li><a href="/gservicios">Estadisticas Generales</a></li>
          <li><a href="#">Conocimientos de Actores</a></li>
          <li><a href="#">Servicios para Mejorar Org.</a></li>
		</ul>
	</div>
	<div class="large-9 columns" id="cont">
		<div class="row ">
			<div class="large-12 columns">
				<p class="ptitulo">Pruebas de Practicas Productivas</p>
				<hr/>
				<div class="row ">
					<div class="large-1 columns">
						<img src="{%static 'img/fpromotor.png' %}" alt="Ficha Promotor"/>
					</div>
					<div class="large-11 columns">
						<div class="fpmtr">Promotor</div>
						<div class="fnpmtr">{{fprueba.promotor.nombre}}</div>
						<a href="/fpromotor/{{fprueba.promotor.id}}" class="button right btback">«Volver a Ficha</a>
					</div>
				</div>
			</div>
	
			<div class="row ">
				<div class="large-12 columns">
					<div class="large-1 columns">
						<img src="{%static 'img/lista2.png'%}" alt"Ficha Prueba"/>
					</div>
					<div class="large-11 columns">
						<p class="fpmtr">Nombre de Prueba</p>
						<p class="fnpmtr">{{fprueba.nombre_prueba}}</p>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="large-12 columns">
					<div class="row ">
						<div class="large-11 columns">
							<table class="fpdatos">
								<thead>
									<tr>
										<th width="120px" class="fpdatosh">Departamento</th>
										<th width="120px" class="fpdatosh">Municipio</th>
										<th width="50px" class="fpdatosh">Año</th>
										<th width="80px" class="fpdatosh">Tema</th>
										<th width="80px" class="fpdatosh">Rubro</th>
										<th width="70x" class="fpdatosh">Escala</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="fpdatosb">{{fprueba.promotor.departamento}}</td>
										<td class="fpdatosb">{{fprueba.promotor.municipio}}</td>
										<td class="fpdatosb">{{fprueba.fecha_prueba}}</td>
										<td class="fpdatosb">{{fprueba.tema_prueba}}</td>
										<td class="fpdatosb">{{fprueba.rubro_prueba}}</td>
										<td class="fpdatosb">{{fprueba.escala_prueba}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="large-12 columns">
					<div class="large-6 columns">
						<div class="cdat">
							<div class="cdatf">
								<div class="calend">
									<img src="{%static 'img/calendar.png'%}">
								</div>
								<div class="dat">
									<p class="dath">Inicio</p><br/>
									<p class="datb">{{fprueba.fecha_inicio}}</p>
								</div>
							</div>
							<div class="cdatf">
								<div class="calend">
									<img src="{%static 'img/calendar.png'%}">
								</div>
								<div class="dat">
									<p class="dath">Fin</p><br/>
									<p class="datb">{{fprueba.fecha_finalizacion}}</p>
								</div>
							</div>
						</div>
						<div class="ficha-prueba">
							<table class="tpromotor">
								<tr>
									<td class="tpromotort">Tipo de Suelo</td>
									<td class="tpromotord">{{fprueba.promotor.tipo_suelo}}</td>
								</tr>
								<tr>
									<td class="tpromotort">Tipo de Clima</td>
									<td class="tpromotord">{{fprueba.promotor.get_tipo_clima_display}}</td>
								</tr>
								<tr>
									{% if fprueba.promotor.get_zona_display %}
									<td class="tpromotort">Zona</td>
									<td class="tpromotord">{{fprueba.promotor.get_zona_display}}</td>
									{% endif %}
								</tr>
							</table>
						</div>
					</div>
					<div class="large-5 columns">
						<div class="ficha-slid">
							 {% if fprueba.get_fotos %}
							<ul class="example-orbit" data-orbit data-options="navigation-arrows:true;bullets: false">
				  				{% for obj in fprueba.get_fotos %}
                        			{% thumbnail obj.foto "450x300" crop="10%" as img%}
                        		<li>
                          			<a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                      			</li>
                        			{% endthumbnail %}
                    			{% endfor %}
							</ul>
							{%else%}
                			<p>No tienes imagenes</p>
        					{% endif %} 
						</div>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="large-12 columns">
					<div class="large-1 columns">
						<p class="logica">Logica</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="large-12 columns">
					<table class="tlogica">
						<tr>
							<td class="tabpro">Problema</td>
							{% if fprueba.problema %}
							<td class="tabprod">{{fprueba.problema}}</td>
							{% else%}
            				<td class="tabprod">No tiene problema aun ingresado en la ficha</td>
        					{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Analisis Agroecologico</td>
							{% if fprueba.agroecologico %}
							<td class="tabprod">{{fprueba.agroecologico}}</td>
							{% else%}
            				<td class="tabprod">No tiene analisis aun ingresado en la ficha</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Opciones a Probar y Razones</td>
							{% if fprueba.aprobar %}
							<td class="tabprod">
								<ul>
									<li>{{fprueba.aprobar}}</li>
								</ul>
							</td>
							{% else %}
							<td class="tabprod">
								<ul>
									<li>No tiene opciones a probar aun ingresado en la ficha</li>
								</ul>
							</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Resultados Esperados <img src="{%static 'img/check.png'%}"></td>
							{% if fprueba.resultados %}
							<td class="tabprod">
								<ul>
									<li>{{fprueba.resultados}}</li>
								</ul>
							</td>
							{% else %}
							<td class="tabprod">
								<ul>
									<li>No tiene resultados aun ingresado en la ficha</li>
								</ul>
							</td>
							{% endif %}
						</tr>
					</table>
				</div>
			</div>
			<div class="row ">
				<div class="large-12 columns">
					<div class="large-1 columns">
						<p class="resultado">Resultados</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="large-12 columns">
					<table class="tresultado">
						<tr>
							<td class="tabpro">Salud de las Plantas</td>
							{% if fprueba.salud_planta %}
							<td class="tabprod">{{fprueba.salud_planta}}</td>
							{% else %}
							<td class="tabprod">Aun no tiene ingresado la salud de las plantas</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Vida del Suelo</td>
							{% if fprueba.vida_suelo %}
							<td class="tabprod">{{ fprueba.vida_suelo }}</td>
							{% else %}
							<td class="tabprod">Aun no tiene ingresado la vida del suelo</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Produccion y Rendimiento</td>
							{% if fprueba.prod_rendimiento %}
							<td class="tabprod">{{ fprueba.prod_rendimiento }}</td>
							{% else %}
							<td class="tabprod">Aun no tiene ingresado la produccion</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Calidad de Productos</td>
							{% if fprueba.calidad_producto %}
							<td class="tabprod">{{fprueba.calidad_producto}}</td>
       						{% else %}
							<td class="tabprod">Aun no tiene ingresado la calidad</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Incidencia de Plagas y Control Natural</td>
							{% if fprueba.plagas %}
							<td class="tabprod">{{fprueba.plagas}}</td>
        					{% else %}
							<td class="tabprod">Aun no tiene ingresado las incidencias</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Ingresos</td>
							<td class="tabprod">C$ 20000</td>
						</tr>
						<tr>
							<td class="tabpro">Costos</td>
							{% if fprueba.costo %}
							<td class="tabprod">C$ {{fprueba.costo}}</td>
        					{% else %}
							<td class="tabprod">Aun no tiene ingresado los costos</td>
							{% endif %}
						</tr>
						<tr>
							<td class="tabpro">Dias de Campo</td>
							{% if  fprueba.diascampoprueba_set.all%}
								{% for lista in fprueba.diascampoprueba_set.all  %}
							<td class="tabprod">28 Dias</td>
								{% endfor %}
							{% else %}
							<td class="tabprod">No tiene dias de campo</td>
							{% endif %}
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}