{% extends "base_menu.html" %}
{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block extra_js %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/modules/exporting.js'%}"></script>
<script type="text/javascript">  
$(function () {

    //grafico de fortalecimiento tipos de medios
        $('#container12').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Tipos de medios para fortalecimiento'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
          
             plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'En porcentaje',
                data: [{%for obj in tipo_medio%}
                        ['{{obj.0}}-({{obj.1}})',    {{obj.1}}],
                       {%endfor%}
                ]
            }]
        });


        //graficos simas fortalece
        $('#container13').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Papel de SIMAS para fortalecer'
            },
            xAxis: {
                categories: [ {% for obj in simas_fotalece %}
                    '{{obj.0}}',
                    {%endfor%}
                ],
                labels: {
                    rotation: -20,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Conteo: <b>{point.y:.1f}</b>',
            },
            series: [{
                name: 'Population',
                data: [{%for obj in simas_fotalece%}{{obj.1}},{%endfor%}],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });


      //grafico de fortalecimiento tipos de medios
        $('#container14').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Tipos de servicios brindados'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
          
             plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'En porcentaje',
                data: [{%for obj in tipo_servicios%}
                        ['{{obj.0}}-({{obj.1}})',    {{obj.1}}],
                       {%endfor%}
                ]
            }]
        });

         //graficos de los tipos de empresas
        $('#container15').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Número de servicios por años'
            },
            xAxis: {
                categories: [ {% for obj in numero_servicios %}
                    '{{obj.0}}',
                    {%endfor%}
                ],
                labels: {
                    rotation: -20,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Conteo: <b>{point.y:.1f}</b>',
            },
            series: [{
                name: 'Population',
                data: [{%for obj in numero_servicios%}{{obj.1}},{%endfor%}],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });

    });  
</script>  
{% endblock extra_js %}
{% block contenido %}
<!--menu-->
<div class="large-12 columns">
    <div class="large-2 columns" id="men">
        <ul class="side-nav menu">
          <li class="menu-titulo"><a href="#">Innovando Practicas Productivas</a></li>
          <li><a href="/gpromotor">Estadisticas Generales</a></li>
          <li><a href="/promotor">Promotoras y promotores</a></li>
          <li><a href="/pruebas">Pruebas de practicas productivas</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Practicas Empresariales</a></li>
          <li><a href="/gempresas">Estadisticas Generales</a></li>
          <li><a href="/empresa">Empresas Rurales</a></li>
          <li><a href="/mejora">Mejoras para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Innovando Politicas</a></li>
          <li><a href="/gespacios">Estadisticas Generales</a></li>
          <li><a href="/espacio">Espacios para Innovar</a></li>
          <li><a href="/iniciativas">Iniciativas para Innovar</a></li>
        <br/>
          <li class="menu-titulo"><a href="#">Fortaleciendo Capacidades</a></li>
          <li><a href="/gservicios" class="active">Estadisticas Generales</a></li>
          <li><a href="#">Conocimientos de Actores</a></li>
          <li><a href="#">Servicios para Mejorar Org.</a></li>
        </ul>
    </div>
<!--Contenido-->
    <div class="large-10 columns" id="cont">
        <div class="row ">            
            <div class="section-container auto" data-section>
                <p class="gtitle">Estadisticas Fortalecimiento</p>
                <hr/>
                <div class="content" data-section-content>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-6 columns">
                                <div class="estad">
                                    <span class="estadn">Número de medios de fortalecimientos que se han registrado</span>
                                    <span class="estadc">{{fortalecimientos}}</span>
                                </div> <br>
                                <div id="container12" class="charts"></div>
                                <br>
                                <div id="container13" class="charts"></div>
                            </div> 
                            <div class="large-6 columns">
                                <div class="estad">
                                    <span class="estadn">Número de servicios que se han realizado</span>
                                    <span class="estadc">{{servicios}}</span>
                                </div> <br>
                                <div id="container14" class="charts"></div>
                                <br>
                                <div id="container15" class="charts"></div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}