{% extends "base.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}

{% block extra_js %}
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

      $(document).ready(function() {
       
        var mapOptions = {
          center: new google.maps.LatLng(12.877, -85.001),
          zoom: 7,
          mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
          },
          scrollwheel: false
        }
        var map = new google.maps.Map(document.getElementById('map'),
                                      mapOptions);

        $.getJSON('/ver_mapa_completo_index/', function(data){
            $.each(data, function(i, elemento){
                var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    name: elemento.nombre,
                    desc: elemento.id,
                    //icon: '/files/img/fruits.png' 
                });
                google.maps.event.addListener(marker, "click", function() {
                 var html = '<a href="/promotor/'+ elemento.id +'" class="">'+ elemento.nombre +'</a>';
                  infowindow = new google.maps.InfoWindow({
                            content: html,
                            zIndex: 999,
                  });
                  infowindow.open(map, this);
                  });
            });
        });
     
      });
    </script>
{% endblock extra_js %}

{% block contenido %}

<div class="row">
    <div class="large-12 columns">

    <!-- Desktop Slider -->

      <div class="hide-for-small">
        <div id="featured">
             <div id="map" style="width: 980px; height: 400px;"></div>
          </div>
        </div>

    <!-- End Desktop Slider -->


    <!-- Mobile Header -->


    <div class="row">
      <div class="small-12 show-for-small"><br>
        que nose poner aca
      </div>
    </div>


  <!-- End Mobile Header -->

    </div>
  </div><br>

   <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Sistema de innovación" />
          <h6 class="panel">Placerat lorem vel. Nec, turpis. Lectus turpis dapibus! Turpis in tincidunt, scelerisque mauris tortor natoque integer! </h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Monitoreo de familias" />
          <h6 class="panel">Placerat lorem vel. Nec, turpis. Lectus turpis dapibus! Turpis in tincidunt, scelerisque mauris tortor natoque integer! </h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Monitoreo de actividades" />
          <h6 class="panel">Placerat lorem vel. Nec, turpis. Lectus turpis dapibus! Turpis in tincidunt, scelerisque mauris tortor natoque integer! </h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Sistema de evaluación" />
          <h6 class="panel">Placerat lorem vel. Nec, turpis. Lectus turpis dapibus! Turpis in tincidunt, scelerisque mauris tortor natoque integer! </h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>

 <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-8 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-6 small-6 columns">

            <h4>Header</h4><hr/>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>

          <div class="show-for-small" align="center">
            <a href="#" class="small radius button">Call To Action!</a><br>

            <a href="#" class="small radius button">Call To Action!</a>
          </div>

          </div>
          <div class="large-6 small-6 columns">

            <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
          </p>
        </div>

        </div>
        </div>
        </div>

        <div class="large-4 columns hide-for-small">

          <h4>Get In Touch!</h4><hr/>

          <a href="#">
          <div class="panel radius callout" align="center">
            <strong>Call To Action!</strong>
          </div>
          </a>

          <a href="#">
          <div class="panel radius callout" align="center">
            <strong>Call To Action!</strong>
          </div>
          </a>

        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>

	
{% endblock contenido %}