{% extends "base_menu.html" %}

{% block title %}Sistema SIMAS - EED{% endblock title %}
{% load staticfiles %}
{% block contenido %}
<div class="row frow">
<div>
	<h1 class="stittle">Explora</h1>
</div>
	<hr />
</div>

<div class="row frow">
	<div class="large-12 columns info">
		<div class="row">
			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Practicas Productivas</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Lorem ipsum Irure minim eu ut irure laboris proident. Lorem ipsum Ea cillum veniam Duis nulla anim elit officia. Lorem ipsum Eiusmod aliquip Ut laboris dolor dolore.</p>
						</div>
						<div class="info-boton">
							<a href="/gpromotor" class="button">Estadisticas generales</a>
							<a href="/promotor" class="button">Promotoras y promotores</a>
							<a href="#" class="button">Pruebas de practicas productivas</a>
						</div>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Practicas Empresariales</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Lorem ipsum Exercitation cillum consequat sed Excepteur proident dolor quis mollit. Lorem ipsum Lorem ipsum In do culpa pariatur deserunt exercitation.</p>
						</div>
						<div class="info-boton">
							<a href="/gempresas" class="button">Estadisticas generales</a>
							<a href="#" class="button">Empresas rurales</a>
							<a href="#" class="button">Mejoras para innovar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row frow">
	<div class="large-12 columns info">
		<div class="row">
			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Innovando Politicas</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Lorem ipsum Culpa deserunt id quis nulla id laboris. Lorem ipsum Sit fugiat anim ullamco sit incididunt adipisicing reprehenderit sunt pariatur. Lorem ipsum Aute veniam fugiat sint aliqua.</p>
						</div>
						<div class="info-boton">
							<a href="/gespacios" class="button">Estadisticas generales</a>
							<a href="#" class="button">Espacios para innovar</a>
							<a href="#" class="button">Iniciativas para innovar</a>
						</div>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<div class="info-elem">
					<div class="info-tittle">
						<p>Fortaleciendo Capacidades</p>
					</div>
					<hr/>
					<div class="info-contenedor">
						<div class="info-text">
							<p>Lorem ipsum Est fugiat cupidatat tempor voluptate enim ut consectetur. Lorem ipsum Ex in dolore nulla ad nostrud irure amet ut. Lorem ipsum Sint quis proident sint proident.</p>
						</div>
						<div class="info-boton">
							<a href="/gservicios" class="button">Estadisticas generales</a>
							<a href="#" class="button">Conocimiento de actores</a>
							<a href="#" class="button">Servicios para mejorar org</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock contenido %}