{% extends "base.html" %}
{% block title %}
    {{empresa.nombre}}
{% endblock title %}

{% load thumbnail %}
{% block contenido %}
<div class="row">
    <div class="large-12 column">

        <ul class="breadcrumbs">

    <li><a href="/">Inicio</a></li>
    <li><a href="/inicio/">Indicadores</a></li>
    <li><a href="/empresas/">Empresas</a></li>
    <li class="current"><a href="#">{{empresa.nombre}}</a></li>

  </ul>

  <div class="section-container vertical-tabs" data-section="vertical-tabs">
  <section>
    <p class="title" data-section-title><a href="#">Datos Generales</a></p>
    <div class="content" data-section-content>
        <div class="row">
          <div class="large-4 columns">
         {% if empresa.get_fotos %}
                    <ul data-orbit data-options="bullets:false; navigation_arrows:false;slide_number:false;">
                    {% for obj in empresa.get_fotos %}
                        {% thumbnail obj.foto "250x170" crop="10%" as img%}
                        <li>
                            <a class="fancybox-effects-d" data-fancybox-group="gallery" href="/media/{{obj.foto}}" title="{{obj.nombre}}"><img src="/media/{{img}}"></a>
                        </li>
                        {% endthumbnail %}
                    {% endfor %}
                    </ul>

        {%else%}
                <p>No tienen imagenes</p>
        {% endif %}
    </div>
        <div class="large-8 columns">
                <h6>Nombre empresa rural:</h6>
                {{empresa.nombre}}
                <h6>Tipo de empresa:</h6>
                {{empresa.tipo}}
                <h6>Año activo:</h6>
                {{empresa.activo}}
                <h6>Años de haberse formado la empresa:</h6>
                {{empresa.formado_empresa}}
                {% if empresa.contacto_nombre %}
                <h6>Nombre de la persona para contactar:</h6>
                {{empresa.contacto_nombre}}
                {% endif %}
                {% if empresa.contacto_celular %}
                <h6>Celular de la persona para contactar:</h6>
                {{empresa.contacto_celular}}
                {% endif %}
                {% if empresa.contacto_correo %}
                <h6>Correo de la persona para contactar:</h6>
                {{empresa.contacto_correo}}
                {% endif %}
                <h6>Zona:</h6>
                {{empresa.get_zona_display}}
                <h6>Departamento:</h6>
                {{empresa.departamento}}
                <h6>Municipio:</h6>
                {{empresa.municipio}}
                <h6>Organización que apoya:</h6>
                {{empresa.organiacion_civil}}
        </div>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Rubros principales</a></p>
    <div class="content" data-section-content>
        <h6>RUBROS PRINCIPALES:</h6>
        {% for rubros in empresa.rubrosprincipales_set.all %}
            {{rubros.rubro}},
        {% empty %}
            <p>No tiene rubros principales</p>
        {% endfor %} <br>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Actividad empresarial</a></p>
    <div class="content" data-section-content>
        <h6>ACTIVIDAD EMPRESARIAL:</h6>
        {% for actividad in empresa.actividadempresarial_set.all %}
            {{actividad.actividad}},
        {% empty %}
            <p>Aun no tienen actividad empresarial</p>
        {% endfor %} <br>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Mercados y compradores</a></p>
    <div class="content" data-section-content>
        <h6>MERCADOS:</h6>
        {% for mercado in empresa.mercadosrubros_set.all %}
            {{mercado.mercado}},
        {% empty %}
            <p>Aun no tiene mercados</p>
        {% endfor %} <br> <br>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Certificación y volumen</a></p>
    <div class="content" data-section-content>
        <h6>CERTIFICACIONES:</h6>
        {% for certificado in empresa.certificacionesrubros_set.all %}
            {{certificado.certificaciones}},
        {% empty %}
            <p>Aun no tienen certificaciones</p>
        {% endfor %} 
        <h6>Volumen de venta anual:</h6> sumaXD 
        <h6>Involucrados:</h6> tambien sumaXD 
        
    </div>
  </section>

<section>
    <p class="title" data-section-title><a href="#">Lista de mejoras empresarial</a></p>
    <div class="content" data-section-content>
        {% if empresa.mejoraempresas_set.all %}
        <h6>LISTA DE MEJORAS</h6>
        <table>
          <thead>
            <tr>
              <th width="200">Nombre de mejora</th>
              <th>Fecha</th>
              <th>Tema</th>
              <th>Rubro</th>
              <th>Mercado</th>
              <th width="150"></th>
            </tr>
          </thead>
          <tbody>
           {% for lista in empresa.mejoraempresas_set.all %}    
            <tr>
              <td>{{lista.nombre_mejora}}</td>
              <td>{{lista.fecha_prueba}}</td>
              <td>{{lista.tema_prueba}}</td>
              <td>{{lista.rubro_prueba}}</td>
              <td>{{lista.mercado_prueba}}</td>
              <td><a href="/mejora/{{lista.id}}/">Ficha mejora de empresa</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
        {% endif %}
    </div>
  </section>

</div>
         
    </div>
</div>
    
{% endblock contenido %}